<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/System_Admin.css">
    </head>
    <body>
        <div id="adminpage">
            <h1 onclick="document.location='/homepage'" style="text-align: center;">Smart Employee Roster</h1>
        </div>
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
            <a href="#" onclick="document.location='/logout'" id = "logout">Logout</a>
            <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
        </div>
        <button class="openbtn" onclick="openNav()" id ="settingsbtn"><img src="img/settings.png" class="image1"></button>
        <script>
            function openNav() {
              document.getElementById("mySidepanel").style.width = "250px"; 
            }
            
            function closeNav() {
              document.getElementById("mySidepanel").style.width = "0";
            }
        </script>
        <div id="options">
            <h1>What would you like to do?</h1><br>

            <div class="container">
                <table>
                    <td><button id="admin_createbutton" onclick="document.location='/createuserorprofile'"><img src="img/create.png" class="image"><h3>Create</h3></button></td>
                    <td><button id="admin_viewallbutton" onclick="document.location='/admin_view'"><img src="img/view_all.png" class="image"><h3>View</h3></button></td>
                    <td><button id="admin_updatebutton" onclick="document.location='/admin_update'"><img src="img/update.png" class="image"><h3>Update</h3></button></td>
                    <td><button id="admin_suspendbutton" onclick="document.location='/admindeleteaccountchoose'"><img src="img/suspend.png" class="image"><h3>Delete</h3></button></td>
                    <td><button id="admin_searchbutton" onclick="document.location='/admin_searchfilter'"><img src="img/search.png" class="image"><h3>Search</h3></button></td>
                    <td><button id="admin_reassignshifts" onclick="document.location='/admin_reassignshifts'"><img src="img/reassign.png" class="image"><h3>Reassign Shifts</h3></button></td>
                    <td><button id="admin_reassignshifts" onclick="document.location='/viewfeedback'"><img src="img/feedback.png" class="image"><h3>View Feedback</h3></button></td>
                </table>
            </div>
        </div>
    </body>
</html>