<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/Employee.css">
</head>
<body>
    <div id="employeepage">
        <h1 onclick="document.location='/homepage'" style="text-align: center;">Smart Employee Roster</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
        <a href="#" onclick="document.location='/logout'" id="logout">Logout</a>
        <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()" id="settingsbtn"><img src="img/settings.png" class="image1"></button>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
    <div id="options">
        <h1>What would you like to Update?</h1><br>

        <div class="container">
            <table>
                <td><button id="employee_updateleave" onclick="document.location='/updateemployeeaccount'"><img src="img/update.png" class="image"><h3>Personal Info</h3></button></td>
                <td><button id="employee_viewaccount" onclick="document.location='/employeeupdateshiftpref'"><img src="img/preference.png" class="image"><h3>Shift Preference</h3></button></td>
            </table>
        </div>
    </div>
</body>
</html>