<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/CreateWorkShift.css">
</head>
<body>
    <div id="employeepage">
        <h1>Welcome to Employee Dashboard</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
        <a href="#" onclick="document.location='/logout'" id="logout">Logout</a>
        <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()" id="settingsbtn"><img src="img/settings.png" class="image1"></button>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }

        function goBack() {
            // Add functionality to go back
            window.history.back();
        }

    </script>
    <div id="options">
        <h1>Create Leave</h1><br>

        <div class="container">
            <form action="/EmployeeCreateLeave" method="POST">
                <fieldset>
                    <legend>Enter Leave Details</legend>
                    <label for="fullname">Full Name:</label><br>
                    <input type="text" id="fullname" name="fullname"><br><br>
                    <label for="date">Date:</label><br>
                    <input type="date" id="date" name="date"><br><br>
                    <label for="leavetype">Leave Type:</label><br>
                    <input type="text" id="leavetype" name="leavetype"><br><br>
                    <button type="submit" name="create">Create</button>
                    <button type="button" name="back" onclick="goBack()">Back</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>