<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/Employee.css">
</head>
<body>
    <div id="employeepage">
        <h1 onclick="document.location='/homepage'" style="text-align: center;">Smart Employee Roster</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
        <a href="#" onclick="document.location='/logout'" id="logout">Logout</a>
        <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()" id="settingsbtn"><img src="img/settings.png" class="image1"></button>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }

        function speak(text) {
            var utterance = new SpeechSynthesisUtterance(text);
            speechSynthesis.speak(utterance);
        }
    </script>
    <div id="options">
        <h1>What would you like to View?</h1><br>

        <div class="container">
            <table>
                <tr>
                    <td><button id="employee_viewpasthistory" onclick="document.location='/employee_viewpasthistory'"><img src="img/file.png" class="image"><h3>Past Work History</h3></button></td>
                    <td><button id="employee_viewaccount" onclick="document.location='/employee_viewaccount'"><img src="img/account.png" class="image"><h3>Account</h3></button></td>
                    <td><button id="employee_viewaccount" onclick="document.location='/employeeviewshifts'"><img src="img/shift.png" class="image"><h3>View My Upcoming Shifts</h3></button></td>
                </tr>
                <tr align="center">
                    <td><button id = "tts" onclick="speak('View My Past Work History')"><img src="img/accessibility.png" alt="Speak" style="width: 40px; height: 40px;"></button></td>
                    <td><button id = "tts" onclick="speak('View My Account')"><img src="img/accessibility.png" alt="Speak" style="width: 40px; height: 40px;"></button></td>
                    <td><button id = "tts" onclick="speak('View My Upcoming Shifts')"><img src="img/accessibility.png" alt="Speak" style="width: 40px; height: 40px;"></button></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>