<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/EmployeePage.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
</head>
<body>
    <div id="employeepage">
        <h1 onclick="document.location='/homepage'" style="text-align: center;">Smart Employee Roster</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
        <a href="#" onclick="document.location='/logout'" id="logout">Logout</a>
        <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()" id="settingsbtn"><img src="img/settings.png" class="image1"></button>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }

        function speak(text, event) {
            var utterance = new SpeechSynthesisUtterance(text);
            speechSynthesis.speak(utterance);
            if (event) {
                event.preventDefault(); // Prevent the default button click behavior
            }
        }
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var shiftsData = JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(results)) %>'));
            var events = shiftsData.map(function(shift) {
                return {
                    title: shift.person + ' - ' + shift.shiftType,
                    start: shift.shiftDate + 'T' + shift.shifttimestart,
                    end: shift.shiftDate + 'T' + shift.shifttimeend,
                    shiftInfo: shift
                };
            });

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                initialDate: '2024-05-01',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: events,
                eventClick: function(info) {
                    var shiftInfo = info.event.extendedProps.shiftInfo;
                    var popupContent = "<div id='popup'><button id='closeBtn'>&times;</button>" +
                        "<div><h3>Shift Information</h3>" +
                        "<p><strong>Employee:</strong> " + shiftInfo.person + "</p>" +
                        "<p><strong>Shift Type:</strong> " + shiftInfo.shiftType + "</p>" +
                        "<p><strong>Shift Date:</strong> " + shiftInfo.shiftDate + "</p>" +
                        "<p><strong>Start Time:</strong> " + shiftInfo.shifttimestart + "</p>" +
                        "<p><strong>End Time:</strong> " + shiftInfo.shifttimeend + "</p></div>";

                    var popupDiv = document.createElement('div');
                    popupDiv.innerHTML = popupContent;
                    popupDiv.classList.add('popup', 'draggable');

                    var isDragging = false;
                    var currentX;
                    var currentY;
                    var initialX;
                    var initialY;
                    var xOffset = 0;
                    var yOffset = 0;

                    function dragStart(e) {
                        initialX = e.clientX - xOffset;
                        initialY = e.clientY - yOffset;
                        isDragging = true;
                    }

                    function dragEnd(e) {
                        initialX = currentX;
                        initialY = currentY;
                        isDragging = false;
                    }

                    function drag(e) {
                        if (isDragging) {
                            e.preventDefault();
                            currentX = e.clientX - initialX;
                            currentY = e.clientY - initialY;
                            setTranslate(currentX, currentY, popupDiv);
                        }
                    }

                    function setTranslate(xPos, yPos, el) {
                        xOffset = xPos;
                        yOffset = yPos;
                        el.style.transform = `translate3d(${xPos}px, ${yPos}px, 0)`;
                    }

                    popupDiv.addEventListener('mousedown', (e) => {
                        initialX = e.clientX - xOffset;
                        initialY = e.clientY - yOffset;
                        isDragging = true;
                    });
                    popupDiv.addEventListener('mouseup', dragEnd);
                    popupDiv.addEventListener('mousemove', drag);
                    popupDiv.addEventListener('mouseleave', dragEnd);

                    document.body.appendChild(popupDiv);

                    var closeBtn = popupDiv.querySelector('#closeBtn');
                    closeBtn.addEventListener('click', function() {
                        popupDiv.remove();
                    });
                }
            });

            calendar.render();
        });
    </script>
    <div id="left-panel">
        <h1>Employee Functions</h1>
        <ul>
            <li>
                <a href="/employee_createLeave">
                    <img src="img/leave.png" alt="Leave Icon">
                    <span>Apply For Leave</span>
                    <button class="tts-button" onclick="speak('Apply For Leave', event)"><img src="img/accessibility.png" alt="Speak"></button>
                </a>
            </li>
            <li>
                <a href="/empupdatechoose">
                    <img src="img/update.png" alt="Update Icon">
                    <span>Update</span>
                    <button class="tts-button" onclick="speak('Update Info', event)"><img src="img/accessibility.png" alt="Speak"></button>
                </a>
            </li>
            <li>
                <a href="/employee_viewall">
                    <img src="img/view_all.png" alt="View All Icon">
                    <span>View</span>
                    <button class="tts-button" onclick="speak('View', event)"><img src="img/accessibility.png" alt="Speak"></button>
                </a>
            </li>
            <li>
                <a href="/employeedeleteleave">
                    <img src="img/delete.png" alt="Delete Leave Icon">
                    <span>Delete Leave</span>
                    <button class="tts-button" onclick="speak('Delete Leave', event)"><img src="img/accessibility.png" alt="Speak"></button>
                </a>
            </li>
            <li>
                <a href="/employee_clockinout">
                    <img src="img/clock.png" alt="Clock In/Out Icon">
                    <span>Clock-in/Clock-out</span>
                    <button class="tts-button" onclick="speak('Clock-in or Clock-out', event)"><img src="img/accessibility.png" alt="Speak"></button>
                </a>
            </li>
            <li>
                <a href="/employee_viewnotification">
                    <img src="img/notification.png" alt="View Notification Icon">
                    <span>View Notification</span>
                    <button class="tts-button" onclick="speak('View Notifications', event)"><img src="img/accessibility.png" alt="Speak"></button>
                </a>
            </li>
            <li>
                <a href="/employeecreatefeedback">
                    <img src="img/feedback.png" alt="Leave Feedback Icon">
                    <span>Leave Feedback</span>
                    <button class="tts-button" onclick="speak('Feedback', event)"><img src="img/accessibility.png" alt="Speak"></button>
                </a>
            </li>
        </ul>
    </div>
    <div id='calendar'></div>
</body>
</html>