<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/Employee.css">
</head>
<body>
    <div id="employeepage">
        <h1 onclick="document.location='/homepage'" style="text-align: center;">Smart Employee Roster</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
        <a href="#" onclick="document.location='/logout'" id="logout">Logout</a>
        <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()" id="settingsbtn"><img src="img/settings.png" class="image1"></button>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
    <div id="options">
        <h1>What would you like to do?</h1><br>

        <div class="container">
       
            <h2>Employee Functions</h2>
            <table>
                <td><button id="employeeclockin" onclick="document.location='/employeeclockin'"><img src="img/create.png" class="image"><h3>Clock-in</h3></button></td>
                <td><button id="employeeclockout" onclick="document.location='/employeeclockout'"><img src=img/view_all.png class="image"><h3>Clock-out</h3></button></td>
            </table>
        </div>
    </div>
</body>
</html>