<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/EmployeeLeaveFeedback.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
  <div id="managerpage">
    <h1 onclick="document.location='/homepage'" class="logo">Smart Employee Roster</h1>
    <button class="openbtn" onclick="openNav()"><img src="img/settings.png" class="image1"></button>
  </div>
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
    <a href="#" onclick="document.location='/logout'">Logout</a>
    <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidepanel").style.width = "250px";
    }
    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
  </script>
  <div id="options">
    <div class="container">
      <form action="/employeecreatefeedback" method="POST">
        <h1>Feedback Form</h1>
        <% if(message.length > 0) { %>
          <div class="message"><%= message %></div>
        <% } %>
        <div class="form-group">
          <label for="feedback">Enter Feedback:</label>
          <textarea id="feedback" class="textbox" name="feedback" rows="5" placeholder="Enter your feedback here"></textarea>
        </div>
        <div class="form-group">
          <button class="rounded-button" id="button"><b>Submit</b></button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>