<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/LoginGUI.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/submodel">Pricing</a></li>
                <li><a href="/abtus">About Us</a></li>
                <li><a href="/features">Features</a></li>
            </ul>
        </nav>
    </header>

    <form action="/LoginGUI" method="POST">
        <div class="center-container">
            <div class="container">
                <div class="login-container">
                    <h2 class="login-header" style="font-family: 'Lucida Handwriting', Cursive;">
                        <span>Emp</span>
                        <span style="font-family: 'Times New Roman', Times, serif;">R🕙STER</span>
                    </h2>
                    <div class="input-container">
                        <input type="text" name="Username" placeholder="Username">
                    </div>
                    <div class="input-container">
                        <input type="password" name="Password" placeholder="Password">
                    </div>
                    <div>
                        <select class="profile-select" name="selectedoption">
                            <% myList.forEach(item => {%>
                                <option value="<%= item%>"><%= item%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="input-container-login">
                        <input type="submit" value="Login" class="login-button">
                        <% if(message.length>0) {%>
                            <div style="color: red;"><%= message%></div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table>
        <tr>
            <td><button id="employee_clockinqr" onclick="document.location='/employeeclockinQR'"><h3>Clock In</h3></button></td>
            <td><button id="employee_clockoutqr" onclick="document.location='/employeeclockoutQR'"><h3>Clock Out</h3></button></td>
        </tr>
    </table>
</body>
</html>
