<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/LoginGUI.css">
</head>
<body>

<div class="center-container">
    <div class="container">
        <div class="login-container">
            <h2 class="login-header">Login</h2>
            <div class="input-container">
                <input type="text" placeholder="Username">
            </div>
            <div class="input-container">
                <input type="password" placeholder="Password">
            </div>
        </div>
        <div class="profile-dropdown">
            <h2 class="profile-header">Profile</h2>
            <select class="profile-select">
                <option value="profile1">Profile 1</option>
                <option value="profile2">Profile 2</option>
                <option value="profile3">Profile 3</option>
            </select>
        </div>
    </div>

    <input type="submit" value="Login" class="login-button">
</div>

</body>
</html>
