<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/ResetButtonNew.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div id="managerpage">
            <h1 onclick="document.location='/homepage'">Manager Page</h1>
        </div>
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-arrow-left"></i> Back</a>
            <a href="#" onclick="document.location='/logout'" id="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <a href="#" onclick="document.location='/resetpassword'"><i class="fas fa-lock"></i> Reset Password</a>
        </div>
        <button class="openbtn" onclick="openNav()" id="settingsbtn"><i class="fas fa-cog"></i></button>
    </header>
    <main>
        <div id="options">
            <h1>Set Employee Hours Worked to Zero</h1>
            <p class="warning">Warning! Clicking this button will reset all the hours worked by all employees to ZERO.</p>
            <div class="container">
                <form action="/managerupdateshifthrs" method="post">
                    <% if(message.length > 0) {%>
                        <div class="message"><%= message%></div>
                    <%}%>
                    <div class="center">
                        <button type="submit" name="update" class="btn btn-reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>