<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/ResetButton.css">
</head>
<body>
    <div id="managerpage">
        <h1 onclick="document.location='/homepage'">Manager Page</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
        <a href="#" onclick="document.location='/logout'" id="logout">Logout</a>
        <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()" id="settingsbtn"><img src="img/settings.png" class="image1"></button>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }

        function goBack() {
            // Add functionality to go back
            window.history.back();
        }

    </script>
    <div id="options">
        <h1>Set Employee Hours Worked to Zero</h1><br>
        <h1>Warning! Clicking this button will reset all the hours worked by all employees to ZERO</h1><br>

        <div class="container">
            <form action="/managerupdateshifthrs" method="post">
                <% if(message.length>0) {%>
                    <div><%= message%></div>
                <%}%>
                <div class ="center"><button type="submit" name="update">Reset</button></div>
            </form>
        </div>
    </div>
</body>
</html>