<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/ManagerMAE.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <header>
    <div id="managerpage">
      <h1 onclick="document.location='/homepage'">Manager Page</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times"></i></a>
      <a href="#" onclick="document.location='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</a>
      <a href="#" onclick="document.location='/resetpassword'"><i class="fas fa-lock"></i> Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()"><i class="fas fa-cog"></i></button>
  </header>

  <main>
    <div id="backbutton">
      <button id="back" onclick="document.location='/homepage'"><i class="fas fa-arrow-left"></i> Back</button>
    </div>

    <form action="/managermanualassignemployees" method="POST">
      <div id="options">
        <h1>Manual Assignment Of Employees</h1>
        <% if(message4.length > 0) {%>
          <div class="message"><%= message4%></div>
        <%}%>

        <div class="form-container">
          <div class="form-group">
            <label for="employeeid"><i class="fas fa-user"></i> Employee ID</label>
            <input id="employeeid" class="textbox" type="text" name="employeeid" placeholder="Enter Employee ID">
          </div>

          <div class="form-group">
            <label for="date"><i class="fas fa-calendar-alt"></i> Date</label>
            <input id="date" class="textbox" type="text" name="date" placeholder="Enter Date in YYYY-MM-DD">
          </div>

          <div class="form-group">
            <label for="selectedoption"><i class="fas fa-briefcase"></i> Shift Preference</label>
            <select class="profile-select" name="selectedoption">
              <% shiftPrefList.forEach(item => {%>
                <option value="<%= item%>"><%= item%></option>
              <% }); %>
            </select>
          </div>

          <div class="form-group">
            <button class="rounded-button" id="button"><i class="fas fa-plus"></i> Assign</button>
          </div>
        </div>
      </div>
    </form>
  </main>

  <script>
    function openNav() {
      document.getElementById("mySidepanel").style.width = "250px";
    }
    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
  </script>
</body>
</html>