<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/Managercreatetable.css">
    </head>
    <body>
        <div id="managerpage">
            <h1 onclick="document.location='/homepage'">SER</h1>
        </div>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
            <a href="#" onclick="document.location='/logout'">Logout</a>
            <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
        </div>
        <button class="openbtn" onclick="openNav()"><img src="img/settings.png" class="image1"></button>
        <script>
            function openNav() {
              document.getElementById("mySidepanel").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidepanel").style.width = "0";
            }
        </script>

        <div id="backbutton">
            <button id="back" onclick="document.location='/createuseraccount'"><b>&laquo;back</b></button>
        </div>
        <form action = "/managerautoassignemp" method = "POST">
            <div id="options">
                <table class = "creating">
                    <h1>Auto-Assign Employees</h1><br>
                    <tr>
                        <td><input id="start" class = "textbox" type="text" name="start" placeholder="Enter Start Date"></td>
                        <td><input id="end" class = "textbox" type="text" name="end" placeholder="Enter End Date"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input id="number" class = "textbox" type="text" name="number" placeholder="Enter Number Of Employees"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class = "rounded-button" id="button"><b>Auto-Assign</b></button></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>