<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/ManagerUMIC.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div id="managerpage">
            <h1 onclick="document.location='/homepage'">Smart Employee Roster</h1>
        </div>
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-arrow-left"></i> Back</a>
            <a href="#" onclick="document.location='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <a href="#" onclick="document.location='/resetpassword'"><i class="fas fa-lock"></i> Reset Password</a>
        </div>
        <button class="openbtn" onclick="openNav()"><i class="fas fa-cog"></i></button>
    </header>
    <main>
        <div id="backbutton">
            <button id="back" onclick="document.location='/homepage'"><i class="fas fa-arrow-left"></i> Back</button>
        </div>
        <form action="/managerincharge" method="POST">
            <div id="options">
                <h1>Update Manager In Charge</h1>
                <% if(message.length > 0) {%>
                    <div class="message"><%= message%></div>
                <%}%>
                <div class="form-group">
                    <input id="employeeid" class="textbox" type="text" name="employeeid" placeholder="Enter Manager ID">
                </div>
                <div class="form-group">
                    <button class="rounded-button" id="button">Update</button>
                </div>
            </div>
        </form>
    </main>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
</body>
</html>