<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/ManagerSearchEmp.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div id="managerpage">
            <h1 onclick="document.location='/homepage'">Manager Page</h1>
        </div>
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-arrow-left"></i> Back</a>
            <a href="#" onclick="document.location='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <a href="#" onclick="document.location='/resetpassword'"><i class="fas fa-lock"></i> Reset Password</a>
        </div>
        <button class="openbtn" onclick="openNav()"><i class="fas fa-cog"></i></button>
    </header>
    <main>
        <div id="backbutton">
            <button id="back" onclick="document.location='/homepage'"><i class="fas fa-arrow-left"></i> Back</button>
        </div>
        <form action="/managersearchemployeeaccounts" method="POST">
            <div id="options">
                <h1>Search Employee Account</h1>
                <% if(message.length > 0) {%>
                    <div class="message"><%= message%></div>
                <%}%>
                <div class="search-container">
                    <div class="search-box">
                        <select class="profile-select" name="selectedoption">
                            <% myList.forEach(item => {%>
                                <option value="<%= item%>"><%= item%></option>
                            <% }); %>
                        </select>
                        <input id="value" class="textbox" type="text" name="value" placeholder="Enter Search Value">
                        <button class="search-button" id="button"><i class="fas fa-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
</body>
</html>