<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/Manager.css">
</head>
<body>
    <div id="managerpage">
        <h1 onclick="document.location='/homepage'">Manager Homepage</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
        <a href="#" onclick="document.location='/logout'" id="logout">Logout</a>
        <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()" id="settingsbtn"><img src="img/settings.png" class="image1"></button>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
    <div id="options">

        <h1>What would you like to View?</h1><br>

        <div class="container1">
            <table>
                <td><button id="manager_viewattendancebutton" onclick="document.location='/manager_viewattendance'"><img src="img/attendance.png" class="image"><h3>Attendance</h3></button></td>
                <td><button id="manager_viewemployeeaccounts" onclick="document.location='/managerviewemployeeaccounts'"><img src="img/account.png" class="image"><h3>View Employee Accounts</h3></button></td>
                <td><button id="manager_viewempleavebutton" onclick="document.location='/manager_viewempleave'"><img src="img/leave.png" class="image"><h3>Employee Leave</h3></button></td>
                <td><button id="manager_viewallbutton" onclick="document.location='/manager_viewws'"><img src="img/shift.png" class="image"><h3>View Workshift</h3></button></td>
                <td><button id="manager_viewshiftprefbutton" onclick="document.location='/manager_viewshiftpref'"><img src="img/preference.png" class="image"><h3>View Shift Preference</h3></button></td>
            </table>
        </div>
    </div>
</body>
</html>