<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/ManagerSC.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <h1 onclick="document.location='/homepage'">Manager Homepage</h1>
      </div>
      <div class="settings-icon" onclick="openNav()">
        <i class="fas fa-cog"></i>
      </div>
    </nav>
  </header>

  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times"></i></a>
    <a href="#" onclick="document.location='/logout'" id="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    <a href="#" onclick="document.location='/resetpassword'"><i class="fas fa-lock"></i> Reset Password</a>
  </div>

  <main>
    <section class="hero">
      <h1>What would you like to Search?</h1>
    </section>

    <section class="container">
      <div class="button-grid">
        <button id="manager_searchemployeeaccounts" onclick="document.location='/managersearchemployeeaccounts'">
          <img src="img/account.png" class="image" alt="Search Employee Accounts">
          <h3>Search Employee Accounts</h3>
        </button>
      </div>
    </section>
  </main>

  <script>
    function openNav() {
      document.getElementById("mySidepanel").style.width = "250px";
    }
    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
  </script>
</body>
</html>