<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/Manager.css">
</head>
<body>
    <div id="managerpage">
        <h1 onclick="document.location='/homepage'">Manager Homepage</h1>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
        <a href="#" onclick="document.location='/logout'" id="logout">Logout</a>
        <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
    </div>
    <button class="openbtn" onclick="openNav()" id="settingsbtn"><img src="img/settings.png" class="image1"></button>
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
    <div id="options">

        <h1>What would you like to do?</h1><br>

        <div class="container">
            <h2>Employee Management</h2>
            <table>
                <td><button id="manager_updatebutton" onclick="document.location='/updatemanageraccount'"><img src="img/update.png" class="image"><h3>Update profile</h3></button></td>
                <td><button id="manager_viewattendancebutton" onclick="document.location='/manager_viewattendance'"><img src="img/view_all.png" class="image"><h3>Attendance</h3></button></td>
                <td><button id="manager_viewattendancebutton" onclick="document.location='/managerfilterattendance'"><img src="img/view_all.png" class="image"><h3>Filter Attendance</h3></button></td>
                <td><button id="manager_viewemployeeaccounts" onclick="document.location='/managerviewemployeeaccounts'"><img src="img/view_all.png" class="image"><h3>View Employee Accounts</h3></button></td>
                <td><button id="manager_filteremployeeaccounts" onclick="document.location='/managerfilteremployeeaccounts'"><img src="img/view_all.png" class="image"><h3>Filter Employee Accounts</h3></button></td>
                <td><button id="manager_searchemployeeaccounts" onclick="document.location='/managersearchemployeeaccounts'"><img src="img/view_all.png" class="image"><h3>Search Employee Accounts</h3></button></td>
                <td><button id="manager_viewempleavebutton" onclick="document.location='/manager_viewempleave'"><img src="img/view_all.png" class="image"><h3>Employee Leave</h3></button></td>
                <td><button id="manager_viewempleavebutton" onclick="document.location='/managerrejectleave'"><img src="img/view_all.png" class="image"><h3>Reject Employee Leave</h3></button></td>
                <td><button id="manager_viewempleavebutton" onclick="document.location='/managerapproveleave'"><img src="img/view_all.png" class="image"><h3>Approve Employee Leave</h3></button></td>
                <td><button id="manager_createemppref" onclick="document.location='/managercreateemppref'"><img src="img/view_all.png" class="image"><h3>Create Employee Pref</h3></button></td>
            </table>

            <h2>Work Shift Management</h2>
            <table>
                <td><button id="manager_createwsbutton" onclick="document.location='/manager_createws'"><img src="img/create.png" class="image"><h3>Create WorkShift</h3></button></td>
                <td><button id="manager_updatewsbutton" onclick="document.location='/manager_updatews'"><img src="img/update.png" class="image"><h3>Update WorkShift</h3></button></td>
                <td><button id="manager_deletewsbutton" onclick="document.location='/manager_deletews'"><img src="img/delete.png" class="image"><h3>Delete WorkShift</h3></button></td>
                <td><button id="manager_filterwsbutton" onclick="document.location='/manager_filterws'"><img src="img/view_all.png" class="image"><h3>Filter WorkShift</h3></button></td>
                <td><button id="manager_viewallbutton" onclick="document.location='/manager_viewws'"><img src="img/view_all.png" class="image"><h3>View Workshift</h3></button></td>
                <td><button id="manager_viewshiftprefbutton" onclick="document.location='/manager_viewshiftpref'"><img src="img/view_all.png" class="image"><h3>View Shift Preference</h3></button></td>
                <td><button id="manager_filterpreference" onclick="document.location='/managerfilterpreference'"><img src="img/view_all.png" class="image"><h3>Filter Preference</h3></button></td>
                <td><button id="managermanualassignemployees" onclick="document.location='/managermanualassignemployees'"><img src="img/view_all.png" class="image"><h3>Manual Assign Employees</h3></button></td>
            </table>
        </div>
    </div>
</body>
</html>