<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/AdminViewProfileTable.css">
    </head>
    <body>
        <div id="adminpage">
            <h1 onclick="document.location='/homepage'">Manager Page</h1>
        </div>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
            <a href="#" onclick="document.location='/logout'">Logout</a>
            <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
        </div>
        <button class="openbtn" onclick="openNav()"><img src="img/settings.png" class="image"></button>
        <script>
            function openNav() {
              document.getElementById("mySidepanel").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidepanel").style.width = "0";
            }
        </script>

        <div id="backbutton">
            <button id="back" onclick="document.location='/homepage'"><b>&laquo;back</b></button>
        </div>
        <div id="options">
            <h1>Viewing all Employee Work Shifts</h1><br>
            <% if(message.length>0) {%>
                <div><%= message%></div>
            <%}%>
            <% if(typeof shiftsData !== "undefined") {%>
                <table>
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Shift Date</th>
                            <th>Shift Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<shiftsData.length;i++) { %>
                        <tr>
                            <td><%= shiftsData[i].person %></td>
                            <td><%= shiftsData[i].shiftDate %></td>
                            <td><%= shiftsData[i].shiftType %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            <%}%>
        </div>
    </body>
</html>