<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/ManagerFilterAtt.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div id="managerpage">
    <h1 onclick="document.location='/homepage'">Manager Page</h1>
  </div>
  
  <div id="mySidepanel" class="sidepanel">
    <a href="#" onclick="document.location='/logout'">Logout</a>
    <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
  </div>
  
  <button class="openbtn" onclick="toggleNav()">&#9776;</button>
  
  <script>
    function toggleNav() {
      var sidepanel = document.getElementById("mySidepanel");
      var openbtn = document.querySelector(".openbtn");
      
      if (sidepanel.style.right === "0px") {
        sidepanel.style.right = "-250px";
        openbtn.innerHTML = "&#9776;";
      } else {
        sidepanel.style.right = "0px";
        openbtn.innerHTML = "&#10006;";
      }
    }
  </script>
  
  <div class="container">
    <form action="/managerfilterattendance" method="POST">
      <div id="options">
        <h1>Filter Attendance</h1>
        <% if(message.length > 0) { %>
          <div class="message"><%= message %></div>
        <% } %>
        <div class="form-group">
          <label for="selectedoption">Select Option:</label>
          <select class="profile-select" name="selectedoption">
            <% myList.forEach(item => { %>
              <option value="<%= item %>"><%= item %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label for="value">Enter Value:</label>
          <input id="value" class="textbox" type="text" name="value" placeholder="Enter Value (if date enter in YYYY-MM-DD)">
        </div>
        <div class="form-group">
          <button class="rounded-button" id="button">Filter</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>