<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/Managercreatetable.css">
    </head>
    <body>
        <div id="managerpage">
            <h1 onclick="document.location='/homepage'">SER</h1>
        </div>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back</a>
            <a href="#" onclick="document.location='/logout'">Logout</a>
            <a href="#" onclick="document.location='/resetpassword'">Reset Password</a>
        </div>
        <button class="openbtn" onclick="openNav()"><img src="img/settings.png" class="image1"></button>
        <script>
            function openNav() {
              document.getElementById("mySidepanel").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidepanel").style.width = "0";
            }
        </script>
        <form action = "/resetpass" method = "POST">
            <div id="options">
                <table class = "creating">
                    <h1>Reset Password: <%= username %></h1><br>
                    <tr>
                        <td><input id="newpass" class = "textbox" type="text" name="newpass" placeholder="Enter New Pass"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input id="confirmpass" class = "textbox" type="text" name="confirmpass" placeholder="Confirm Pass"></td>
                    </tr>
                    <tr>
                        <td><button class = "rounded-button" id="button"><b>Reset</b></button></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>