body {
    background-color:#3c4463;
}

#adminpage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    font-size: 30px;
    font-family: arial;
    color:#3c4463;
    background-color: white;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #d0d0d0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: arial;
  }

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3c4463;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    font-size: 30px;
    transition: 1s;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border: none;
    position: absolute;
    left: 93%;
    top: 12%;
}

.openbtn:hover {
    background-color:#444;
}

.image {
    display: block;
    max-width: 50px;
    max-height: 50px;
}

#backbutton {
    position: absolute;
    top: 23%;
    left: 94%;
    color: #ddd;
    font-family: arial;
    font-size: 30px;
    width: 100%;
}

#options {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #ffb344; /* Keep the color property */
    font-family: arial;
    font-size: 20px;
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.container {
    position: absolute;
    left: 80px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color:#ddd;
    font-family: arial;
    font-weight: bold;
}

#button {
    color: #3c4463;
    font-family: arial;
    background-color: #ffb344;
    border: none;
    padding: 8px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 25px;
    cursor: pointer;
    border-radius: 20px;
}

#back {
    color: #ddd;
    font-family: arial;
    font-size: large;
    background-color: #3c4463;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

input {
    width: 30%;
    padding: 6px;
    border-radius: 8px;
    background-color: #e9e9e9;
}