body {
    background-color:#3c4463;
}

#adminpage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    font-size: 30px;
    font-family: arial;
    color:#3c4463;
    background-color: white;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #d0d0d0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: arial;
  }

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3c4463;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    font-size: 30px;
    transition: 1s;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border: none;
    position: absolute;
    left: 93%;
    top: 12%;
}

.openbtn:hover {
    background-color:#444;
}

.image1 {
    display: block;
    max-width: 50px;
    max-height: 50px;
}

#options {
    position: absolute;
    top: 150px;
    color: #ffb344;
    font-family: arial;
}

.container {
    position: absolute;
    left: 80px;
}

.container1 {
    position: absolute;
    left: 50%;
}

#admin_viewallbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_createbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_updatebutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_suspendbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_searchbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}


#admin_createaccountbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_createprofilebutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_viewaccountbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_viewprofilebutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_searchaccountbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_searchprofilebutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_suspendaccountbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_suspendprofilebutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_updateaccountbutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

#admin_updateprofilebutton {
    color: #3c4463;
    background-color: #e2a349;
    font-family: arial;
    border: none;
    padding: 40px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
}

.image {
    display: block;
    max-width: 140px;
    max-height: 140px;
}
